---
import { Image } from "astro:assets";

interface Props {
  title: string;
  href: string;
  description?: string;
  image?: {
    src: string;
    alt: string;
  };
}

const { href, title, description, image, ...props } = Astro.props;
---

<li
  class="h-fit min-h-72 w-auto flex-1 rounded-md bg-dark/20 backdrop-blur-sm transition-all duration-300 hover:border-b-2 hover:border-b-dark dark:bg-light/20 hover:dark:border-b-light"
  {...props}
>
  <a
    href={href}
    class="flex h-full w-full flex-1 flex-col items-center justify-around p-4 hover:border-0"
  >
    <div class="my-2 h-full w-full flex-1 text-center">
      <h2 class:list={["font-serif text-2xl"]}>
        {title}
      </h2>
      {description && <small>{description}</small>}
    </div>
    <p class="h-full w-full flex-1 text-center">
      <slot />
    </p>
    {
      image && (
        <Image
          class={"h-48 w-full max-w-md rounded-md object-cover object-center"}
          src={image.src}
          alt={image.alt}
          inferSize
          loading={"lazy"}
          decoding={"async"}
        />
      )
    }
  </a>
</li>
