---
import { Image } from "astro:assets";

interface Props {
  title: string;
  href: string;
  description?: string;
  image?: string;
}

const { href, title, description, image, ...props } = Astro.props;
---

<li
  class="h-full min-h-72 w-auto rounded-md bg-dark/20 backdrop-blur-sm transition-all duration-100 hover:border-b-2 hover:border-b-dark dark:bg-light/20 hover:dark:border-b-light"
  {...props}
>
  <a
    href={href}
    class="flex h-full w-full flex-col items-center justify-around p-4 hover:border-0"
  >
    <slot name="logo" />
    <div class="my-2 text-center">
      <h2 class="font-serif text-2xl">
        {title}
      </h2>
      {description && <small>{description}</small>}
    </div>
    <p>
      <slot />
    </p>
    {
      image && (
        <Image
          class={"h-48 w-full max-w-md rounded-md object-cover object-center"}
          src={image}
          alt={title}
          inferSize
          loading={"lazy"}
          decoding={"async"}
          aria-label={`Image for the ${title} project`}
        />
      )
    }
  </a>
</li>
