---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title=`Projects - ${project.data.title}`>
  <div class="flex flex-none flex-col">
    <ContentLayout>
      <header>
        <h1>{project.data.title}</h1>
        <div class="inline-flex">
          <p>Published: &nbsp;</p>
          <time
            class="text-lg font-medium"
            datetime={project.data.datePublished.getFullYear().toString()}
            >{project.data.datePublished.getFullYear()}</time
          >
        </div>
      </header>
      <main class="flex-none">
        <div class="prose max-w-md text-light">
          <Content />
        </div>
        <Image
          src={import(
            `../../assets/projectScreenshots/${project.data.image}.png`
          ) as unknown as string}
          alt={`Screenshot of the ${project.data.title} project`}
          inferSize
          class={"w-auto h-fit max-h-96 rounded-md my-4 shadow-sm object-contain"}
        />
      </main>
    </ContentLayout>
    <a href="/projects" class="btn my-4 self-start">Back to projects</a>
  </div>
</Layout>
