---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { Image } from "astro:assets";
import TechnologyTag from "../../components/TechnologyTag.astro";
import { names } from "../../utils/technologyTagConfig";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title=`Projects - ${project.data.title}`>
  <div class="flex max-w-full flex-none flex-col">
    <ContentLayout>
      <header>
        <h1>{project.data.title}</h1>
        <div>
          <div class="inline-flex">
            <p>Published: &nbsp;</p>
            <time
              class="text-lg font-medium"
              datetime={project.data.datePublished.getFullYear().toString()}
              >{project.data.datePublished.getFullYear()}</time
            >
          </div>
          <div class="mt-3 flex gap-1">
            {
              project?.data?.technologies?.map((technology) => (
                <TechnologyTag technology={technology as keyof typeof names} />
              ))
            }
          </div>
        </div>
      </header>
      <main class="flex-none">
        <div class="prose text-light md:max-w-lg">
          <Content />
        </div>
        <Image
          src={import(
            `../../assets/projectScreenshots/${project.data.image}.png`
          ) as unknown as string}
          alt={`Screenshot of the ${project.data.title} project`}
          inferSize
          class={"w-auto h-fit max-h-96 rounded-md mt-8 shadow-sm object-contain"}
        />
      </main>
    </ContentLayout>
    <a href="/projects" class="btn my-4 self-start">Back to projects</a>
  </div>
</Layout>
