---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import Card from "../../components/Card.astro";
import LogoLoader from "../../components/LogoLoader.astro";

type Props = {
  projects: CollectionEntry<"projects">;
};

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <section
    class="flex w-full flex-1 flex-col items-center justify-evenly gap-4"
  >
    <h1>Projects</h1>
    <ul
      class="grid w-full grid-flow-row grid-cols-1 gap-4 md:grid-cols-2 md:px-12 xl:grid-cols-3"
    >
      {
        projects.map((project) => (
          <Card
            title={project.data.title}
            href={`/projects/${project.slug}`}
            description={project.data.description}
            image={
              import(
                `../../assets/projectScreenshots/${project.data.image}.png`
              ) as unknown as string
            }
          >
            <LogoLoader logo={project.data.logo} slot="logo" />
          </Card>
        ))
      }
    </ul>
  </section>
</Layout>
